# Common
**/*.md
LICENSE
.env

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# git
.git
.gitattributes
.gitignore

# JetBrains
.idea

# Python
__pycache__/

# Virtual environments
.venv/

# VScode
.vscode

# Documents
documentation/

# Test
test_input.json
downloaddatasets.py
uploadlora.py